# Exclude configs with actual credentials
minikube-monitoring/prometheus-config.yaml
eks-monitoring/prometheus-config-actual.yaml
ec2-monitoring/grafana-agent-actual.yaml

# Include templates instead
!*-template.yaml
